.container-fluid {
  background-color: #eeeeee ;
}

.main-body {
  background-color:  #fffde7;
  border-radius: 20px;
}

.about-section {
  text-align: middle;
  margin-top: 65px;
  background-color: #99FF66;
}

.thumbnail {
  margin: 40px !important;
}

.logo {
  padding: 5px;
height: 30px;

}

h3 {
  text-align: center;
}

p {
  font-size: 50px !important;
  font-family: 'Noto Serif', serif !important;
}

.img-responsive {
  max-width: 300px !important;
  max-height: 300px !important;
  padding: 15px;
}

.social {
  padding-bottom: 80px !important;
  margin-bottom: 100px !important;
}


img: hover {
  opacity: 0.5 !important;

}
