.container-fluid {
  background-color: #eeeeee ;
}

.main-body {
  background-color:  #fffde7;
  border-radius: 20px;
}

.about-section {
  text-align: middle;
}

.thumbnail {
  margin: 40px !important;
}

.logo {
  padding: 5px;
height: 30px;

}

h3 {
  text-align: center;
}

p {
  font-size: 20px !important;
}

.img-responsive {
  max-width: 300px !important;
  max-height: 300px !important;
  padding: 15px;
}

.social {
  padding-bottom: 50px;
}

.exp {
}
